@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    /* font-size: 1.2em; */
    background-color: #fff;
}
a {
    color: #777;
}
.icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
